@import './Variables.scss';

.bio-container {
    padding-top: 5vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-summary {
    padding: .5vh;
    // border: 1px solid black;
}


@media only screen and (min-width: 768px) {
    .bio-container {
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 28px;
    }

    .bio-summary {
        width: 50%;
    }
}