@import './Variables.scss';

.contact-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    a {
        color: black;
    }
}

.github-container {
    // border: 1px solid black;
    width: 320px;
    height: 40px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    .github-info {
        font-size: 22px;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }
}

.gh-icon {
    margin: 0 1vh;
}

.email-container {
    // border: 1px solid black;
    width: 320px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    .email-info {
        font-size: 22px;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }
}

.email-icon {
    margin: 0 1vh;
}

@media only screen and (min-width: 768px) {
    .github-container {
        width: 340px;
        height: 40px;
        justify-content: flex-start;
    }
    .email-container {
        width: 340px;
        height: 40px;
        justify-content: flex-start;
        .email-info {
            span {
                margin-right: 10px;
            }
        }
    }
}