@import './Variables.scss';

.title-container {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $purpleShadow1;
    background: white;
    // font-family: 'Spartan', sans-serif;
    padding: 10vh 5vh 5vh 5vh;
    h1 {
        font-family: 'Spartan', sans-serif;
        background: linear-gradient($purpleShadow1, $otherBlue);
        // background: linear-gradient(rgb(143, 27, 27), yellow);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h2 {
        font-family: 'Spartan', sans-serif;
    }
}

@media only screen and (min-width: 1050px) {
    .title-container {
        font-size: 3vh;
        h2 {
            margin-top: 5px;
            font-size: 3vh;
        }
    }
    
}

